@model OnlineRealEstate.Models.LoginModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @Html.ValidationSummary(true)
        @if (ViewBag.Message != null)
        {
            Response.Write(ViewBag.Message);

        }
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
        <table align="center" cellspacing="10" cellpadding="10" style="font-family:Calibri;background-color:palevioletred;border:groove;color:white">

            <tr>
                <td>
                    @Html.LabelFor(Model => Model.Email)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.Email, htmlAttributes: new { style = "border-radius:5px;padding:5px", @maxlength = "30" })
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.Password)

                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.Password, htmlAttributes: new { style = "border-radius:5px;padding:5px", @maxlength = "20" })
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Back", "Index")
                </td>
                <td>
                    <input type="submit" id="login" style="color:palevioletred;background-color:white;padding:8px;" />
                </td>
            </tr>
        </table>
        }
        </div>
    </body>
</html>
