@model IEnumerable<OnlineRealEstate.Entity.Property>


<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <style>
            .table {
                border-spacing: 10px;
                padding: 10px;
               
            }
        </style>
        <title>DisplayPropertyDetails</title>
    </head>
<body>
    @using (Html.BeginForm("DisplayPropertyDetails", "Property", FormMethod.Get))
    {
        <div>
            <table border="1" class="table">

                <tr>
                    <td> Land ID</td>
                    <td>Property Type</td>
                    <td>Location</td>
                    <td> Area(in sq.ft)</td>

                </tr>
                @foreach (OnlineRealEstate.Entity.Property item in (List<OnlineRealEstate.Entity.Property>)TempData["Property"])
                {
                    <tr>
                        <td> @item.LandId</td>
                        <td>@item.PropertyType</td>
                        <td>@item.Location</td>
                        <td> @item.Area</td>
                        <td>
                            @Html.ActionLink("Edit Property", "Edit", new { id=item.LandId })
                            @Html.ActionLink("Delete Property", "Delete", new { id = item.LandId })
                        </td>

                    </tr>
                }
            </table>

        </div>
    }
    <div>
    </div>
</body>
</html>
