@model OnlineRealEstate.Entity.Property



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        h2>Edit</h2>
        @using (Html.BeginForm("UpdateProperty", "Property", FormMethod.Post))
        {
            @Html.HiddenFor(Model => Model.LandId)
            <table>
                <tr>
                    <td>Land Area</td>
                    <td>
                        @Html.EditorFor(Model => Model.Area)
                    </td>
                </tr>
                <tr>
                    <td>Property type</td>
                    <td>
                        @Html.EditorFor(Model => Model.PropertyType)
                    </td>
                </tr>
                <tr>
                    <td>location</td>
                    <td>
                        @Html.EditorFor(Model => Model.Location)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Cancel", "DisplayPropertyDetails")
                    </td>
                    <td>
                        <input type="submit" value="Submit" />
                    </td>
                </tr>

            </table>
        }

    </div>
</body>
</html>
